.Forum_Body{
    width: auto;
    height: auto;

    border: solid 1px rgba(255, 255, 255, 0);
    
    margin-left: 10rem;
    padding-top: 5rem;

    overflow: hidden;
}
@media (max-width: 750px){
    .Forum_Body{
        margin-left: 3rem;
    }
    .Forum_Main{
        margin: 0.3rem;
    }
}



h1{
    text-align: center;
    margin-bottom: 1rem;
}


.Forum_Main{
    position: relative;
    display: grid;
    justify-content: center;
    row-gap: 2rem;

    width: 95%;
    height: auto;

    border: solid 1px rgba(0, 0, 0, 0.419);
    border-radius: 2px;

    background-color:rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.473);

    margin: auto;
    padding: 3rem 1rem;

}

.Forum_Element_Name{
    display: flex;
    flex-direction: row;

    gap: 10rem;
}