.Content_Home{
    position: relative;

    width: auto;
    height: auto;

    border: solid 1px rgba(255, 255, 255, 0);
    
    margin-left: 10rem;
    padding-top: 5rem;

    overflow: hidden;
}

@media (max-width: 770px) {
    .Content_Home{margin-left: 3rem;}
}



.Introduction_Wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0rem;

    padding: 1rem 1rem 0rem 1rem;

    height: 31.1rem;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.805), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);

    border-bottom: solid 2px rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: hidden;
}



.Introduction_Wrapper div{
    border: solid 1px rgba(255, 255, 255, 0);
    
    min-width: 18rem;
    height: 30rem;
}
.Introduction_Wrapper img{
    width: auto;
    height: 30em;
}
@media (max-width: 1300px){
    .Introduction_Wrapper img{
        display: none;
    }
    .Introduction_Wrapper{
        grid-template-columns: auto;
        overflow-y: scroll;
    }
}


.Introduction_Wrapper h1{
    font-size: 55px;
    font-family: gabarito;

    padding: 3rem 1rem 1rem 3.5rem;
}
.Introductory_Text p{
    font-size: 20px;
    padding: 1rem 5rem 3rem 3.5rem;
}
.Introductory_Text a{
    font-size: 16px;

    padding: 1rem 1.5rem;

    background-color: rgb(39, 113, 95);
    border-radius: 50px;
}

.Introductory_Text a:hover{
    background-color: rgb(33, 170, 136);
    border-radius: 50px;

    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.378);
}
#Get_Started_Link{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);

    margin: 4rem 0rem 2rem 0rem;
}
.Coverage-P{
    text-align: center;
    margin: 1rem;

    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}



.CoverageMenu{
    display: grid;
    grid-auto-flow: column;

    justify-content: center;

    margin: 2rem 0rem;
    gap: 1rem;
}

#C, #HTML, #JAVA, #PYTHON{
    width: auto;
    height: 5rem;
}

@media (max-width: 770px){
    .CoverageMenu{
        display: grid;
        grid-auto-flow: row;
    
        justify-content: center;
    
        margin: 2rem 0rem 2rem 1rem;
        gap: 8rem;
    }

    #C{
        margin-top: 5rem;
    }
}



.About_Us{
    display: grid;


    border-top: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(13, 21, 20, 0.523);
    backdrop-filter: blur(3px);

    margin: 1rem 0rem 1rem 0rem;
}


.CoverageList1, .CoverageList2, .CoverageList3, .CoverageList4{
    border: solid 1px rgba(255, 255, 255, 0);
    width: 18rem;

    justify-content: center;

    text-align: justify;

    padding: 1rem;
}
.CoverageList1:hover p, .CoverageList2:hover p, .CoverageList3:hover p, .CoverageList4:hover p{
    height: 6rem;
}

.CoverageList1 p, .CoverageList2 p, .CoverageList3 p, .CoverageList4 p{
    overflow-y: scroll;
    height: 0rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
}
@media (max-width: 750px){
    .CoverageList1 p, .CoverageList2 p, .CoverageList3 p, .CoverageList4 p{
        overflow: hidden;
        height: 0rem;
        padding: 0rem 0.3rem 0rem 0.3rem;
    }
}




.Information_LearnMore{
    font-size: 16px;

    padding: 0.5rem 1rem;

    background-color: rgb(39, 113, 95);
    border-radius: 50px;
}
.Information_LearnMore:hover{
    background-color: rgb(33, 170, 136);

    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.378);
}
#INFORLEARN{
    margin-top: 3rem;
    text-align: center;

    height: 3rem;
}

.Container1{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.5%;

    margin: 0.5rem 5rem;

    text-align: end;
}
.Container2{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.5%;

    margin: 0.5rem 5rem;
}

#About_Image1, #About_Image2{
    width: auto;
    height: 9rem;

    border-radius: 3%;
    box-shadow: 3px 3px 55px rgba(0, 0, 0, 0.438);
}
.About_Us_Links{
    padding: 0rem 1rem;
}

.Map_Embed{
    display: flex;
    justify-content: center;

    background-color: rgba(52, 183, 181, 0.125);
    backdrop-filter: blur(5px);
    
    padding: 1rem 0rem;
    margin: 0rem 15rem;

    border-radius: 3px;
}






.Image_Gallery_Codes{
    display: grid;
    justify-content: space-around;

    gap: 5rem;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 0rem 0rem;
    padding: 1.5rem 0rem;

    border-top: solid 1px rgba(255, 255, 255, 0.433);
    background-color: rgba(3, 24, 21, 0.562);
    backdrop-filter: blur(3px);
}
.Credential_List1, .Credential_List2, .Credential_List3, .Credential_List4, .Credential_List5, .Credential_List6{
    border: solid 1px rgba(255, 255, 255, 0);
    text-align: center;
    
    margin: 1rem;
}



.Featurette{
    display: flex;
    flex-direction: row;

    gap: 5rem;
    margin: 5rem;
}
.Item2{
    width: auto;
    height: 15rem;

    border-radius: 2px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.274);
}