/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); /* tilt neon */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* merriweather */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap'); /* Gabarito Font */
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Gabarito&display=swap'); /* Belanosima */


/* General Properties */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: white;
    font-family: montserrat;
    text-decoration: none;
    list-style: none;

    transition: all ease-in-out 0.2s;
}


body{
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.LineBeak{
    width: 85%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.503);
}

/* ------------------------------------------- Horizontal Navigation bar Propertites ------------------------------------------- */
.Horizontal_Navigation_Bar_Wrapper{
    position: fixed;
    display:   flex;
    
    justify-content: flex-end;
    align-items:       center;

    width: 100vw;
    height: auto;

    z-index: 5;

    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-bottom: solid 1px rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(9px);
}


/* Navigation Bar Images/Logos/Texts */
.Horizontal_Navigation_Bar_Wrapper img{
    width: auto;
    height: 3rem;
}
.Horizontal_Navigation_Bar_Wrapper #Menu{
    width: auto;
    height: 1.8rem;
    
    margin-right: 0.5rem;
    margin-left: 1rem;
    
    cursor: pointer;
}
.Horizontal_Navigation_Bar_Wrapper #Logo{
    width: auto;
    height: 3.7rem;

    margin-right: 0rem;
    margin-left: 0.5rem;
}
.Horizontal_Navigation_Bar_Wrapper h1{
    cursor: default;

    font-size: 25px;
    font-family: montserrat;

    margin-right: auto;
}
.Horizontal_Navigation_List1{
    margin: 1rem 2rem;

    font-family: tilt neon;
}
.Horizontal_Navigation_List2{
    margin: 0.5rem 1rem;

    cursor: pointer;
}

/* Navigation Hover Properties */
.Horizontal_Navigation_List1:hover{
    transform: scale(95%);
    text-shadow: 0 0 10px white;
}
.Horizontal_Navigation_List2:hover{
    transform: scale(95%);
    box-shadow: 0 0 10px white;

    border-radius: 50px;
}
.Horizontal_Navigation_Bar_Wrapper #Menu:hover{
    transform: scale(95%);
}
/* ------------------------------------------- Horizontal Navigation bar Propertites ------------------------------------------- */










/* ------------------------------------------- Vertical Navigation bar Propertites ------------------------------------------- */
.Vertical_Navigation_Bar_Wrapper{
    position: fixed;
    display: flex;
    overflow: hidden;

    height: 100vh;
    width: 10rem;

    z-index: 1;;

    border-right: solid 1px rgba(255, 255, 255, 0.455);
    padding-top: 3.5rem;

    background-color: black;
}

/* Vertical Navigation Tab Selection Properties */
.Selection_Menu ul{
    margin-top: 1.5rem;
}
.Selection_Menu ul li{
    padding: 1rem 3rem 1rem 0rem;
    margin: 1rem 0;

    border-radius: 2px;
}
.Selection_Menu ul li img{
    width: auto;
    height: 0.9rem;

    margin: 0 1rem;
}
.Selection_Menu ul li a{
    font-size: 15px;
    font-family: tilt neon;
}
.Active{
    background-color: rgb(27, 153, 126);
}

.Vertical_Navigation_List:hover{
    background-color: rgba(138, 138, 138, 0.496);
}
.active :hover{
    background-color: rgba(138, 138, 138, 0);
}


.Recommended_Consultants{
    margin-top: -1rem;
    padding: 1.5rem 0rem 1rem 0rem;
}
.Consultant_Menu{
    display: flex;
    justify-content: center;

    width: auto;
    height: 40vh;

    margin: -0.5rem 1rem 1rem 1rem;

    overflow-y: scroll;
}
.Consultant_Menu ul{
    margin-top: -1rem;;
}
.Consultant_Name{
    color: rgb(191, 191, 191);
}
.Consultant_Name:hover{
    color: rgb(255, 255, 255);
}

.Contact_Us{
    font-family: tilt neon;
    color: rgb(255, 255, 255);

    padding: 1% 1rem;
    border-radius: 5px;

    background-color: rgb(0, 0, 0);
    outline: none;
    border: solid 1px white;

    cursor: pointer;
}
.Button_Wrapper{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
}


.Contact_Us:hover {
    background-color: white;
    color: black;
}
.Consultant_Skill{
    color: rgb(101, 101, 101);
}
.Consultant_Skill:hover{
    color: grey;
}
/* ------------------------------------------- Vertical Navigation bar Propertites ------------------------------------------- */



/* Media Query - Navigation Bar Collapse */
@media (max-width: 750px) {
    .LineBeak{display: none;}

    .Vertical_Navigation_Text{display: none;}

    .Recommended_Consultants{display: none;}

    .Consultant_Menu{display: none;}

    .Button_Wrapper{display: none;}

    .Vertical_Navigation_Bar_Wrapper{width: 3rem; overflow: hidden;}
}






.Footer_Wrapper{
    display: flex;
    justify-content: space-around;
    
    padding: 2rem;
    margin-top: 1rem;

    background-color: rgb(17, 15, 15);
}